@import "background";


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

#mainHeader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  #headerText {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    place-content: center;
    place-items: center ;
    gap: 1rem;
    #presentationText {
      animation: showup 7s infinite;
      font-size: 2rem;
    }

    #secondDiv {
      width: 0px;
      animation: reveal 7s infinite;
    }

    #bodyText {
      margin-left: -300px;
      font-size: 2rem;
      animation: slidein 7s infinite;
    }

    @keyframes showup {
      0% {
        opacity: 0;
      }
      20% {
        opacity: 1;
      }
      80% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes slidein {
      0% {
        margin-left: -800px;
      }
      20% {
        margin-left: -800px;
      }
      35% {
        margin-left: 0;
      }
      100% {
        margin-left: 0;
      }
    }

    @keyframes reveal {
      0% {
        opacity: 0;
        width: 0px;
      }
      20% {
        opacity: 1;
        width: 0px;
      }
      30% {
        width: 355px;
      }
      80% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        width: 355px;
      }
    }

  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    max-width: 4rem;
    max-height: 4rem;
  }
}

#header {

  background-image: url("../assets/header-bg.webp");
  z-index: 1;
  background-size: 100% auto; // Esto asegura que la imagen se ajuste completamente sin ser recortada
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  filter: blur(10px);
}

body {
  overflow-y: scroll;
}

#main {
  position: relative;
}

.bg {
  width: 100%;
}

.students {
  height: 80vh;
}

.teachers {
  min-height: 20vh;
}

span {
  text-align: center;

}

.students, .teachers > * {
  overflow: hidden;
}

main {
  a {
    img {
      width: 4rem;
      height: 4rem;
      transform: rotate(180deg);
    }
  }
}

.students,
.teachers {
  display: flex;
  width: 100%;
  gap: 1rem;
  flex-flow: wrap row;
  justify-content: center;
  overflow: hidden;

  div:hover div:not(hover) {
    position: absolute;
    bottom: 50%;
    right: 50%;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    height: 40vh;
    max-width: 40vh;
    z-index: 100000;
    border-radius: 50%;
    padding: 15rem;
    border-width: 3rem;
    backdrop-filter: blur(20px);

    animation-name: desvanecer;
    animation-duration: 1.5s; /* Duración de la animación */
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); /* Curva de Bezier */

  }

  @keyframes desvanecer {
    0% {
      opacity: 0;
    }
    /* Comienza con opacidad 0 */
    25% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
    /* Termina con opacidad 1 */
  }

  div:hover span {
    position: absolute;
    bottom: 20vh;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10vh;
    width: 200px;
    z-index: 1000000;
    font-size: 1.5rem;
    transition-delay: 5000ms;
    transition: 500ms;
  }

  div {
    display: flex;
    flex-direction: column;
    width: 150px;
    min-height: 50px;
    height: auto;
    gap: 0.5rem;
    align-items: center;

    div {
      border-radius: 1rem;
      height: 90%;

      max-width: 40vh;

      z-index: 1;
      position: relative;

      img {
        position: absolute;
        height: 100%;
        max-width: 300px;
        max-height: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      img.crown {
        z-index: 100;
        max-width: 100%;
        bottom: 0;
      }

      img.gif {
        z-index: 10;
        max-width: 75%;
      }
    }

  }
}



