@import "background";
@import "mixins";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#headerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
header {
  background-image: url("../assets/header-bg.webp");
  width: 100%;
  height: 100dvh;
  z-index: 1;
  background-size: 100% auto; // Esto asegura que la imagen se ajuste completamente sin ser recortada
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  filter: blur(10px);
}

.bg {
  width: 100%;
}

.students {
  height: 80vh;
}

.teachers {
  min-height: 20vh;
}

.students,
.teachers {
  display: flex;
  width: 100%;
  gap: 1rem;
  flex-flow: wrap row;
  justify-content: center;
  overflow: hidden;

  div {
    display: flex;
    flex-direction: column;
    width: 150px;
    min-height: 50px;
    height: auto;
    gap: 0.5rem;
    align-items: center;
    transition: width 1000ms;

    div {
      border-radius: 1rem;
      height: 90%;
      min-width: 100%;

      z-index: 1;
      position: relative;

      img {
        position: absolute;
        height: 100%;
        max-width: 300px;
        max-height: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      img.crown {
        z-index: 100;
        max-width: 100%;
        bottom: 0;
      }

      img.gif {
        z-index: 10;
        max-width: 75%;
      }
    }
  }
}
.students > div:hover {
  @include addHover;
}
.teachers > div:hover {
  @include addHover;
}
