@import "background";
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}


#mainHeader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  min-height: 100vh;
  gap: 5rem;
  display: flex;
  place-items: center;
  place-content: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-family: 'Alegreya', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  font-style: italic;

  #headerText {
    width: 35vw;
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    place-content: center;
    place-items: center;
    gap: 1rem;

    #presentationText {
      animation: showup 7s forwards;
    }

    #secondDiv {
      width: 0;
      animation: reveal 7s forwards;
    }

    #bodyText {
      margin-left: -300px;
      animation: slidein 7s forwards;
    }

    @keyframes showup {
      0% {
        opacity: 0;
        width: 25vw;
      }
      20% {
        opacity: 1;
        width: 25vw;
      }
      80% {
        opacity: 1;
        width: 25vw;
      }
      100% {
        opacity: 1;
        width: 25vw;
      }
    }
    @keyframes slidein {
      0% {
        margin-left: -800px;
      }
      20% {
        margin-left: -800px;
      }
      35% {
        margin-left: 0;
      }
      100% {
        margin-left: 0;
      }
    }

    @keyframes reveal {
      0% {
        opacity: 0;
        width: 0;
      }
      20% {
        opacity: 1;
        width: 0;
      }
      30% {
        width: 35vw;
      }
      80% {
        opacity: 1;
      }
      100% {
        opacity: 1;
        width: 35vw;
      }
    }

  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    max-width: 4rem;
    max-height: 4rem;
  }
}

#header {

  background-image: url("../assets/header-bg.webp");
  z-index: 1;
  background-size: 100% auto; // Esto asegura que la imagen se ajuste completamente sin ser recortada
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  filter: blur(10px);
}

body {
  overflow-y: scroll;
}

#main {
  position: relative;
}

.bg {
  width: 100%;
}

.students {
  height: 80vh;
}

.teachers {
  min-height: 20vh;
}



.students, .teachers > * {
  overflow: hidden;
}

main {
  a {
    img {
      width: 4rem;
      height: 4rem;
      transform: rotate(180deg);
    }
  }
}

.students,
.teachers {
  span {
    text-align: center;
    display: flex;
    place-content: center;
    align-content: center;
    backdrop-filter: blur(5px);
    padding: 0.2rem;
    border-radius: 1rem;
  }
  font-weight: 750;
  font-family: 'Alegreya SC', sans-serif ;
  display: flex;
  width: 100%;
  gap: 1rem;
  flex-flow: wrap row;
  justify-content: center;
  overflow: hidden;

  div:hover div:not(hover) {
    position: absolute;
    bottom: 50%;
    right: 50%;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    height: 40vh;
    max-width: 40vh;
    z-index: 100000;
    border-radius: 50%;
    padding: 15rem;
    border-width: 3rem;
    backdrop-filter: blur(20px);

    animation-name: desvanecer;
    animation-duration: 2s; /* Duración de la animación */
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); /* Curva de Bezier */

  }

  @keyframes desvanecer {
    0% {
      opacity: 0;
    }
    /* Comienza con opacidad 0 */
    30% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
    /* Termina con opacidad 1 */
  }

  div:hover span {
    position: absolute;
    bottom: 20vh;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10vh;
    display: flex;
    place-content: center;
    place-items: center;
    width: 200px;
    z-index: 1000000;
    font-size: 1.5rem;
    transition-delay: 5000ms;
    transition: 750ms;
    border-radius: 50%;
  }

  div {
    display: flex;
    flex-direction: column;
    width: 150px;
    min-height: 50px;
    height: auto;
    gap: 0.5rem;
    align-items: center;

    div {
      border-radius: 1rem;
      height: 90%;

      max-width: 40vh;

      z-index: 1;
      position: relative;

      img {
        position: absolute;
        height: 100%;
        max-width: 300px;
        max-height: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      img.crown {
        z-index: 100;
        max-width: 100%;
        bottom: 0;
      }

      img.gif {
        z-index: 10;
        max-width: 75%;
      }
    }

  }
}



